# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/node-ts-database

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# Cookie configs
COOKIE_SECRET=thisisasamplesecret

# URL of client application
CLIENT_URL=http://localhost:5000

# Binance API Key & Secret
BINANCE_API_KEY=binance-api-key
BINANCE_API_SECRET=binance-api-secret

# Flutter API Key & Secret
FLW_PUBLIC_KEY='FLWPUBK_TEST-7b12a598503b459fe4f0741f382ccecd-X'
FLW_SECRET_KEY="FLWSECK_TEST-0a860f7a1ad8b83563d1bc3b9076b46b-X"
FLW_SECRET_HASH='FLWSECK_TESTc7e7321dc379'


CLOUDINARY_KEY ="cloudianry key"
CLOUDINARY_SECRET ='cloudianry sectert'
ENCRYPT_KEY= "a typical encryption key"
ENCRYPT_SALT= "a typical encryption salt"
